<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>
 
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>Isim</th>
        <th>Davet Eden</th>
        <th>renum</th>
        <th>QR Link</th>
        <th>QR</th>
        <th>Davetiye</th>
        <th>pdf indir</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in veri %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>https://quickchart.io/qr?text={{row[3]}}</td>
                <td><img src="https://quickchart.io/qr?text={{row[3]}}"></td>
                <td><a href="/davetiye/{{row[3]}}/{{row[1]}}">davet link</td>
                <td><a href="https://www.sejda.com/html-to-pdf?save-link=https://sofosentertainment.com/davetiye/{{row[3]}}/{{row[1]}}&usePrintMedia=True">Save as PDF</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>